html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* GENERIC OVERRIDES */
body,
ul,
li,
h1,
h2,
h3,
fieldset,
input, 
button, 
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* removes the list bullets */
ul {list-style: none;} 

/* removes default syling from links */
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s; 
} 

button {
  cursor: pointer;
  background-color: transparent;
  border: none; 
}

table, th, td,
select, option { text-transform: capitalize; }

body {  
  font-size: 1.6rem; 
  color: #1d1d1d;
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 70px; 
  display: flex;
  align-items: center;
  justify-content: center; 
  color: #FFF; 
} 

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
}

h1, h2 { 
  font-size: 2rem;
  letter-spacing: 0.1rem;
}  

main {
  display: flex;   
}  

/* Item Input Form Styles */
input, select, fieldset {
  font-family: inherit;
  border-radius: 5px;
  border: 1px solid transparent;
  width: 180px; 
  font-family: inherit;
  color: inherit;
  background-color: #ebebeb; 
} 

input, select { padding: 10px; }

input:focus { border: 1px solid #ffffff; }

.inputForm {  
  display: flex;
  flex-direction: column;  
  max-height: 550px;
  min-width: 280px;
  width: 40%;
  margin-right: 50px;   
  padding: 30px;
  background-color:#eeeeee;
}

.inputForm + div {
  width: calc(60% - 50px); 
}

.inputForm input,
.inputForm select { 
  background-color: #dddddd;
  width: 100%;
}

.inputForm div {
  margin-right: 20px;
  position: relative; 
  margin-bottom: 30px; 
  overflow-y: auto;
}

.inputForm h2 {margin-bottom: 50px;}

label {
  position: absolute;
  top: -20px; 
  font-size: inherit;
  font-size: 1.4rem;
  font-family: inherit;
} 

/* Hide increment arrows in Firefox */ 
input[type="number"] {-moz-appearance:textfield;}

/* Hide increment arrows in Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Filter by Category */ 
.visiblilityFilters { 
  display: flex;
  margin-top: 50px;
}
.filterSelect {margin-bottom: 10px;}
.filterSelect label {margin-right: 10px;} 

fieldset {
  position: relative;
  display: inline-block;
  margin-right: 30px;
}

select { cursor: pointer; } 

.add {
  background-color: #ff8e8e;
  font-family: inherit;
  text-transform: uppercase;  
  color: white;
  padding: 10px 0;
  border: none;
  cursor: pointer;
}  

/* Table styles */ 
table {  
  width: 100%;
  margin-top: 30px;  
  border-collapse: collapse;  
  box-shadow: 0px 0px 5px 2px rgba(129, 129, 129, 0.116);
  border-radius: 5px;
  background-color: white;
  overflow: hidden; 
} 

caption {
  text-align: left;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 10px;
}

th { 
  text-align: left;
  font-size: 1.4rem; 
}

th:not(:last-of-type) { 
  overflow: auto; 
  width: calc((100% - 50px)/ 3);
}  

th:last-of-type {
  max-width: 50px;
}

tr:not(:first-of-type) {
  border-top: 1px solid rgba(105, 105, 105, 0.158);
}

th, td {padding: 15px;} 

.category span {
  font-size: 1.3rem;
  background-color: #ffb5b5;
  margin-top: 5px;
  display: inline-block;
  padding: 0px 10px;
  border-radius: 30px; 
} 

table button {
  color: white;  
}

.name {
  font-size: 1.8rem;
  font-weight: 600;
}
.date {font-size: 1.4rem;}
.price {
  font-size: 1.8rem;
  font-weight: 600;
}

.itemCard {
  display: flex;
  flex-direction: column;
  line-height: 2.2rem;
}

.tableHeadings { 
  background-color: #252525; 
  color: #ff8e8e;
} 
 
.summary {
  font-weight: 600;
  text-align: center;  
  padding: 20px;
  margin-top: 10px;
  background-color: hsl(0, 0%, 95%);
}

.summary h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #f37b7b;
}

.summary span {
  font-size: 2.2rem;  
}